php_value register_globals 1


Options +FollowSymLinks
RewriteEngine On
RewriteRule (.*).htm$ http://www.look2phoenix.com/search.php?q=$1 


RewriteCond %{HTTP_HOST} ^look2phoenix\.com [NC]
RewriteRule ^(.*)$ http://www.look2phoenix.com/$1 [L,R=301]


