php_value register_globals 1


Options +FollowSymLinks
RewriteEngine On
RewriteRule (.*).htm$ http://www.look2raleigh.com/search.php?q=$1 


RewriteCond %{HTTP_HOST} ^look2raleigh\.com [NC]
RewriteRule ^(.*)$ http://www.look2raleigh.com/$1 [L,R=301]


