php_value register_globals 1


Options +FollowSymLinks
RewriteEngine On
RewriteRule (.*).htm$ http://www.look2indianapolis.com/search.php?q=$1 


RewriteCond %{HTTP_HOST} ^look2indianapolis\.com [NC]
RewriteRule ^(.*)$ http://www.look2indianapolis.com/$1 [L,R=301]


