php_value register_globals 1


Options +FollowSymLinks
RewriteEngine On
RewriteRule (.*).htm$ http://www.look2novascotia.com/q.php?q=$1 


RewriteCond %{HTTP_HOST} ^look2novascotia\.com [NC]
RewriteRule ^(.*)$ http://www.look2novascotia.com/$1 [L,R=301]


