php_value register_globals 1


Options +FollowSymLinks
RewriteEngine On
RewriteRule (.*).htm$ http://www.look2vancouver.com/search.php?q=$1 


RewriteCond %{HTTP_HOST} ^look2vancouver\.com [NC]
RewriteRule ^(.*)$ http://www.look2vancouver.com/$1 [L,R=301]

Options -Indexes
RewriteEngine On
RewriteBase /
RewriteRule ^images/e/(.*)$ http://thumbs.ebaystatic.com/pict/$1 [R,L]
